<div class="topnav" id="myTopnav">
    <hr />
    <a href="/">Início</a>
    <a href="addDrug">Adicionar PA</a>
    <a href="/selectEditPA">Editar PA</a>
    <a href="removeDrug">Remover PA</a>
    <hr />
</div>