<%- include('includes/head.ejs') %>
    <title>Adicionar Substância Ativa</title>
</head>
<body>

    <form method="POST" action="/save" id="saveDrug">
        <label for="nameDrug">Nome</label>
        <input type="text" name="nameDrug">
        
    
    </form>
    
</body>
</html>