<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/submit">
        <label for="peso-crianca">Peso da criança</label>
        <input type="text" name="pesoCrianca">
        <label for="principio-ativo">Princípio ativo</label>
        <input type="text" name="principioAtivo">
        <input type="submit" />
    </form>
    
</body>
</html>