<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Calculadora de posologias</h1>
    <form class="form_centered"method="POST" action="/submit">
        <label for="peso-crianca">Peso da criança</label>
        <input type="text" name="pesoCrianca">
        <label for="principio-ativo">Princípio ativo</label>
        <input type="text" name="principioAtivo">
        <button type="submit">Calcular</button>
    </form>
    
    
</body>
</html>