<%- include('includes/head.ejs') %>


<body>
    
    <div class="container">
        <hr />
        <h1>Calculadora de posologias</h1>
        <%- include('includes/navigation.ejs') %>
        


        <form class="form_centered" method="POST" action="/dose" id="formEscolha">
            <label for="peso-crianca">Peso da criança</label>
            <input type="text" name="pesoCrianca" placeholder="Peso em Kg">
            <label for="paSelector">Princípio ativo</label>
            <select id="paSelector" name="principioAtivo">
                <% listaPrincipiosAtivos.forEach(pAtivo => { %>
                <option><%= pAtivo %></option>
                <% }) %>
            </select>


            <p>Calcula a dose para crianças até aos 12 anos de idade com peso igual ou inferior a 40 Kg.</p>


            <button type="submit">Continuar</button>
        </form>


    </div>
</body>

</html>