<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/main-styles.css" />
    <link rel="stylesheet" type="text/css" href="css/editPA-styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
    
</head>
    <title>Editar Princípio Ativo</title>
</head>
<body>
    <div class="container">
        <h1 class="menu-title">Remover Princípio Ativo</h1>
        <%- include('includes/navigation.ejs') %>
        <div class="pAtivo-container">
            <form action="/saveEditPA" method="POST" class="pAtivo-form" id="pAtivo-form" onsubmit="return confirm('Tem a certeza que deseja alterar a dose?')">
                <label for="paSelector">Princípio ativo</label>
                <select id="paSelector" name="principioAtivo"></select>
                <label for="doseSelector">Dose</label>
                <select id="doseSelector" name="dose"></select>