<%- include('includes/head.ejs') %>
    <title>Editar Princípio Ativo</title>
</head>
<body>
    <h1>Selecionar Princípio Ativo</h1>
    <%- include('includes/navigation.ejs') %>
    <form class="form_centered" method="POST" action="/selectEditPA" id="formEscolha">
        <label for="paSelector">Princípio Ativo</label>
        <select id="paSelector" name="principioAtivo">
            <% listaPrincipiosAtivos.forEach(pAtivo => { %>
            <option><%= pAtivo %></option>
            <% }) %>
        </select>
        <button type="submit">Editar</button>
    
</body>
</html>