body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 32px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
    width: 10rem;
}

select {

    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
    width: 11.5rem;
    text-align: center;
    

}


button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

.form_centered {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    align-items: center;
    
}
